table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 15%;
  }

  .edit:hover{
    color:#673AB7;
  }
  .delete:hover{
    color:#F44336;
  }
  